.header-wrapper{
  display: block;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.header-container{
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
}
