.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
}
