.repo-list-item-wrapper{
  background-color: #fff;
  color: #7a7b7c;
  border: 0px solid #ccc;
  border-radius: 3px;
  display: block;
  margin-bottom: 20px;

  .container{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .owner{

  }

  .repo-name{
    font-style: italic;
  }
}
